on:
  workflow_dispatch:
    inputs:
      AS_ARTIFACTS:
        description: "Upload as artifacts"
        required: false
        default: 'false'
      OLD_CACHE:
        description: "Previous cache version"
        required: false
      NEW_CACHE:
        description: "Next cache version"
        required: false

name: Sprite differ
jobs:
  compare:
    name: "Sprite comparison between OSRS revs"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
      - name: Generate sprites
        id: build
        env:
          OLD_CACHE: ${{ github.event.inputs.OLD_CACHE }}
          NEW_CACHE: ${{ github.event.inputs.NEW_CACHE }}
        run: |
          OUTPUT=$(./gradlew generatePack  2>&1 | grep -oP 'Using version: \K.*' | head -1)
          
          echo "::set-output name=new_cache::${OUTPUT}"

      - name: Zip sprites
        env:
          NEW_CACHE: ${{ steps.build.outputs.new_cache }}
        run: |
          zip -qr $NEW_CACHE-sprites.zip cache/$NEW_CACHE/sprites


    
